<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- CSS ===================== -->
    <!-- load bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <style>
    	body 	{ padding-top:30px; }
        .ng-valid      {  }
        .ng-invalid    {  }
        .ng-pristine   {  }
        .ng-dirty      {  }

        /*more specific css rules applied by angular */
        .ng-invalid-required     {  }
        .ng-invalid-minlength    {  }
        .ng-valid-max-length     {  }
    </style>
    
    <!-- JS ===================== -->
    <!-- load angular -->
    <script src="http://code.angularjs.org/1.2.6/angular.js"></script> 
    <script src="app.js"></script>
</head>
<!-- too lazy to type in the above, just some copypasta from Scotch.io -->

<body ng-app="validationApp" ng-controller="mainController">
<div class="container">
<div class="col-sm-8 col-sm-offset-2">

    <!-- page header -->
    <div class="page-header"><h1>AngularJS Form Validation</h1></div>

    <!-- Form -->
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
    <!-- novalidate makes sure there is not HTML5 validation since we're validating it ourselves. -->

        <!--Name-->
        <div class="form-group" ng-class="{ 'has-error : userForm.name.$invalid && userForm.name.$pristine && submitted }">
            <label>Name</label>
            <input type="text" name="name" class="form-control" autocomplete="off" ng-model="name" required>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine && submitted" class="help-block">You name is required!</p>
        </div>

        <!--Username-->
        <div class="form-group" ng-class="{'has-error' : userForm.username.$invalid && !userForm.username.$pristine && submitted}">
            <label>Username</label>
            <input type="text" name="username" class="form-control" autocomplete="off" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
            <p ng-show="userForm.username.$error.minlength && submitted" class="help-block">Username is too short.</p>
            <p ng-show="userForm.username.$error.maxlength && submitted" class="help-block">Username is too long.</p>
        </div>

        <!--Email-->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine && submitted}">
            <label>Email</label>
            <input type="email" name="email" class="form-control" autocomplete="off" ng-model="user.email">
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine && submitted" class="help-block">Enter a valid email.</p>
        </div>

        <!--Submit button-->
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div> <!-- /col-sm-8  -->
</div> <!-- /container -->
</body>
</html>